body{
    height: 10000px;
    margin: 0;
}
.page-header{

    width: 100%;
    height: 162px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 121px;
    color: #428bca;
    
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.HeadButton
{
    display: flex;
    height: 100%;
    width: 16.66666667%;
    align-items: center;
}

.HeadBottom:hover
{
    text-decoration: underline;
}

.hide-mob{
    width: 100%;
}
.margin0{
    margin-bottom: 0px;
}
.margin40{
    margin-bottom: 40px;
}
nav{
    height: 40px;
    background: #0767B0;
    position:relative;
  }
.fixed{
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index: 1001;
}

.pic{
    height:24px;
    margin-left: 10px;
    margin-right: 10px;
}
.lang{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 1200px){
    .container{
        width: 1280px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .container {
        width: 750px;
    }
}
@media screen and (max-width: 992px){
    .headtext {
        display: none;
    }
}



@keyframes fade {
    0% { opacity: 0; }
    11.11% { opacity: 1; }
    33.33% { opacity: 1; }
    44.44% { opacity: 0; }
    100% { opacity: 0; }
  }
  
.fadein { 
position:relative; 
width:100%;
}
.fadein img { 
position: absolute; 
width:100%; 
left:0; 
right:0; 
opacity:0; 
animation-name: fade; 
animation-duration: 27s; 
animation-iteration-count: infinite; 
}
.fadein img:nth-child(1){ 
animation-delay: 0s;
}
.fadein img:nth-child(2){ 
    animation-delay: 3s;
}
.fadein img:nth-child(3){ 
    animation-delay: 6s;
}
.fadein img:nth-child(4){ 
    animation-delay: 9s;
}
.fadein img:nth-child(5){ 
    animation-delay: 12s;
}
.fadein img:nth-child(6){ 
    animation-delay: 15s;
}
.fadein img:nth-child(7){ 
    animation-delay: 18s;
}
.fadein img:nth-child(8){ 
    animation-delay: 21s;
}
.fadein img:nth-child(9){ 
    animation-delay: 24s;
}