.page-header{
    width: 100%;
    height: 300px;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.name{
    text-align: center;
    color: #0767B0;
    font-family: 'Open Sans';
}

.CallCenter
{
    padding: 30px;
    margin: 30px;
    width: 10%;
}

.CallCenter:hover
{
    padding: 30px;
    margin: 30px;
    width: 10%;
    text-decoration: underline;
}

.hide-mob{
    width: 100%;
    height: 40px;
    color: 0767B0;
}