*{
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.page-header{
    width: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #428bca;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.HeadButton
{
    display: flex;
    height: 100%;
    width: 16.66666667%;
    align-items: center;
}

.HeadButton:hover
{
    text-decoration: underline;
}

.hide-mob{
    width: 100%;
    z-index: 1500;
}
.margin0{
    margin-bottom: 0px;
}
.margin40{
    margin-bottom: 40px;
}
nav{
    background: #0767B0;
    position:relative;
  }
nav li a {
    font-size: 15px;
    color: #aed6ff;
}
nav li a:hover{
    color: #fff;
}

a{
    text-decoration: none;
    transition: color .3s .02s ease;
    -o-transition: color .3s .02s ease;
    -webkit-transition: color .3s .02s ease;
}
.fixed{
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index: 1001;
}
.menu{
    color:#aed6ff;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
    max-width: 1280px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    padding-left: 40px;
}
ul{
    margin: 0px;
    list-style-type: none;
}
li{
    line-height: 40px;
}
nav li ul {
    text-align: left;
    margin: 0 auto;
}
nav .menu>li:first-child {
    margin-left: 50px;
}
nav .menu>li{
    height: 40px;
    padding: 0 15px;
    display: inline-block;
}
@media (max-width: 992px) and (min-width: 0px){
    .blue-bg .list-menu li {
        width: 25% !important;
        margin-right: 5% !important;
    } 
}
@media (max-width: 1301px) and (min-width: 993px){
    .blue-bg .list-menu li {
        width: 20% !important;
    }
}

.blue-bg .list-menu {
    width: 100%;
    padding: 20px;
}
.blue-bg .list-menu, .blue-bg .prevu-menu {
    display: inline-block;
    vertical-align: top;
}
.blue-bg .list-menu li {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% 5px 0;
    padding: 0 0 7px;
    line-height: 18px;
    border-bottom: 1px solid #0c6494;
}
.pic{
    height: 24px;
    margin: 10px;
    float: left;
}
.lang{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.show{
    display: block !important;
}
.blue-bg{
    width: 100%;
    top: 40px;
    background: #005698;
    position: absolute;
    z-index: 1500;
    left: 0;
    display: none;
    text-align: left;
}

.blue{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 416px;
    background: #005698;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.without{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 425px;
    align-items: center;
    position: relative;
}

.left{
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.center{
    width: 49%;
    padding-right: 15px;
    padding-left: 15px;
}

.icon{
    position: absolute;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 15px;
    width: 55px;
    height: auto;
}

.FBar{
    height: 85px;
}

.L1Bar:hover{
    background: #0072b6;
    color: white;
}

.L2Bar:hover{
    background: #428bca;
    color: white;
}

.L3Bar:hover{
    background: #4dbbe9;
    color: white;
}

.L4Bar:hover{
    background: #01b8bc;
    color: white;
}

.L5Bar:hover{
    background: #009d75;
    color: white;
}

.righticon{
    width: 85px;
    height: 85px;
    float: right;
}

.text{
    padding-top: 35px;
    padding-left: 100px;
    padding-bottom: 35px;
    margin-right: 20px;
}

.coub{
    position: absolute;
    width: 85px;
    height: 85px;
}

.bottombutton:hover{
    background: #055EA2;
}

.righttext{
    float: left;
    width: calc(100% - 64px);
}

@media (min-width: 1200px){
    .container{
        width: 1280px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .container {
        width: 750px;
    }
}
@media screen and (max-width: 992px){
    .headtext {
        display: none;
    }
}



@keyframes fade {
    0% { opacity: 0; }
    11.11% { opacity: 1; }
    33.33% { opacity: 1; }
    44.44% { opacity: 0; }
    100% { opacity: 0; }
  }
  
.fadein { 
position:relative; 
width:100%;
height: 15%;
}
.fadein img { 
position: absolute; 
width:100%; 
left:0; 
right:0; 
opacity:0; 
animation-name: fade; 
animation-duration: 27s; 
animation-iteration-count: infinite; 
}
.fadein img:nth-child(1){ 
    animation-delay: 0s;
}
.fadein img:nth-child(2){ 
    animation-delay: 3s;
}
.fadein img:nth-child(3){ 
    animation-delay: 6s;
}
.fadein img:nth-child(4){ 
    animation-delay: 9s;
}
.fadein img:nth-child(5){ 
    animation-delay: 12s;
}
.fadein img:nth-child(6){ 
    animation-delay: 15s;
}
.fadein img:nth-child(7){ 
    animation-delay: 18s;
}
.fadein img:nth-child(8){ 
    animation-delay: 21s;
}
.fadein img:nth-child(9){ 
    animation-delay: 24s;
}

footer nav{
    height: 40px;
}
.row{
    margin-left: -15px;

    display: flex;
}
@media (min-width: 769px) and (max-width: 1199px){
    .row-flex {
        display: flex;
        align-items: center;
        
    }
}
.row-flex {
    color: #0067b1;
    display: inline-block;
    width: 100%;
    margin-left: 15px
}
@media (max-width: 1301px){
    .h2, h2 {
        font-size: 26px;
    }
}
@media (min-width: 769px) and (max-width: 1199px){
    .row-flex {
        display: flex;
        align-items: center;
    }
}

h2, .h2 {
    font-size: 30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h2 h3 {
    margin-bottom: 20px!important;
}
.press-center a h3 {
    font-size: 18px;
}
.row-flex .h2 {
    margin-top: 20px;
    display: inline-block;
}
.press-center .row-flex a.h2 {
    margin: 3px 0;
    color: #0067b1;
}
hr.blue-line {
    border: none;
    width: 100%;
    height: 4px;
    background: #cfdbe4;
    border-top: 1px solid #c4ced7;
    margin-bottom: 0;
}
.blue-line {
    border: none;
    width: 100%;
    height: 4px;
    background: #cfdbe4;
    border-top: 1px solid #c4ced7;
    margin: 0;
}
.covid-19-btn {
    border-radius: 0px;
    display: inline-block;
}
.pull-right {
    float: right !important;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pull-right {
    float: right !important;
}
.title{
    display: inline-block;
    color: grey;
}
.gazeta-title {
    background: rgba(230, 230, 246, .5);
    border-bottom: 5px solid rgba(241, 246, 249, .5);
    margin-bottom: -5px;
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 23px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
@media (min-width: 992px){
    .row-flex {
        width: 75%;
    }
}

@media (min-width: 992px){
    .gazeta-box {
        width: 25%;
    }
}
@media (min-width: 992px){
    .gazeta-post {
        width: 25%;
    }
}
.img-post img {
    width: 100%;
    height: auto;
    transition: opacity .2s .02s ease;
}
@media (min-width: 992px){
    .list-post {
        width: 75%;
    }
}
.post{
    width: 33.3333%;
    border-bottom: 1px solid #e1e6ed;
    display: block;
}
.list-post{
    padding-top: 20px;
}
.post, .list-post{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.list-post .post .desc-post {
    min-height: 63px;
}
.date-post {
    font-size: 13px;
    color: #879bb3;
    line-height: 25px;
    font-style: italic;
}
.pull-left {
    float: left !important;
}
.text-right {
    text-align: right !important;
}
.tags {
    font-size: 13px;
}
.tags a {
    white-space: nowrap;
    font-style: italic;
    color: #879bb3;
    line-height: 25px;
}
.desc-post {
    font-size: 15px;
    color: #454e59;
    margin-bottom: 5px;
    line-height: 20px;
}
@media (min-width: 740px){
    .gazeta-post {
        margin-bottom: 30px;
    }
}
.item-gazeta {
    border-top: 1px solid #f3f7fb;
    border-bottom: 1px solid #d5dbe3;
    padding: 19px 38px 5px;
}
@media (min-width: 992px){
    .item-gazeta {
        width: 100%;
    }
}
.gazeta-post{
    background: rgba(230, 230, 246, .5);
    border-left: 1px solid #e5e6e7;
    border-right: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    position: relative;
    padding-top: 0;
}
.blue-block{
    background: #e6eff6;
    padding: 45px 0 0;
    border-top: 1px solid #d8e1e8;
}
footer .menu{
    max-width: none;
}
